{% extends 'layouts/_cleanpage.twig' %}

{% block title %}Bine ai venit!{% endblock %}

{% block content %}
<div class="panel panel-success">
  <div class="panel-heading">Metin2 - Acasa!</div>
  <div class="panel-body">
    The quick brown fox jumps over the lazy dog.<br>
    Pace si prosperitate tuturor! <i class="fa fa-hand-spock-o fa-lg"></i>
    <br>Versiune: {{ version }}
  </div>
</div>
<div class="panel panel-info">
  <div class="panel-heading">Informatii</div>
  <div class="panel-body">
  </div>
</div>
{% endblock %}
