<div class="panel panel-default">
  <div class="panel-heading">Statistici</div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Echipa server</div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Pagină Facebook</div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Prezentare server</div>
  <div class="panel-body">
    <div class="facebook">
      <div class="video-container">
        <iframe src="http://www.youtube.com/embed/{{ config.site.ytCode }}" frameborder="0" width="560" height="315"></iframe>
      </div>
    </div>
  </div>
</div>
