<div class="panel panel-default">
  <div class="panel-heading">Quick UserCP</div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Magazin obiecte</div>
  <div class="panel-body">
    <a class="btn btn-primary btn-xlarge" href="#" data-toggle="modal" data-target=".shop-lg">
      Magazin de obiecte
    </a>

    <div class="modal fade shop-lg" tabindex="-1" role="dialog" aria-labelledby="shop" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title" id="shop">Magazin obiecte - {{ config.site.name }}</h4>
          </div>
          <div class="modal-body shop">
            <iframe src="{{ url('shop') }}" width="740" height="550"></iframe>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Clasament</div>
</div>
